<%- include('../../partials/head.ejs') %>
    <!-- content -->
    <div class="container my-container my-5">
        <div class="row">
            <% exercises.forEach((exercise)=> { %>
                <div class="card my-2 mx-2" style="width: 20rem;">
                    <img class="card-img-top" src="<%= exercise.gifUrl %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= exercise.name.toUpperCase() %>
                        </h5>
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                <strong>Target:</strong>
                                <%= exercise.target %>
                            </li>
                            <li class="list-group-item">
                                <strong>Equipment:</strong>
                                <%= exercise.equipment %>
                            </li>

                            <li class="list-group-item">
                                <strong>Body Part:</strong>
                                <%= exercise.bodyPart %>
                            </li>
                        </ol>
                        <div class="text-center my-2">
                            <a href="#" class="btn btn-danger mx-2">Delete</a>
                            <a href="#" class="btn btn-primary mx-2">Update</a>
                        </div>
                    </div>
                </div>
                <% }) %>

        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>


        <!-- closing tags must -->
        </body>

        </html>