<%- include('../../partials/head.ejs') %>
    <!-- content -->
    <div class="container my-container my-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">
                    Abrar's Gym
                </h1>
                <% if (searchTerm) {%>
                    <h4 class="text-center">Search Result for: <%= searchTerm %>
                    </h4>
                    <% } %>
                        <% if ( totalPage===0 ) {%>
                            <h4 class="text-center">No Result Found
                            </h4>
                            <% } %>

            </div>
        </div>
        <div class="row my-5">
            <% exercises.forEach((exercise)=> { %>
                <div class="col-md-4 my-5" id="<%=exercise._id%>">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%=exercise.gifUrl%>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=exercise.name.toUpperCase()%>
                            </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Target:</b>
                                <%=exercise.target%>
                            </li>
                            <li class="list-group-item"><b>Equipment:</b>
                                <%=exercise.equipment%>
                            </li>
                            <li class="list-group-item"><b>Body Part:</b>
                                <%=exercise.bodyPart%>
                            </li>
                        </ul>
                        <% if(isLoggedIn) {%>
                            <div class="card-body text-center">


                                <button class="btn btn-primary" onclick="fetchExerciseData('<%=exercise._id%>')"><i
                                        class="fa fa-pen-nib mx-2"></i>Update</button>
                                <button class="btn btn-danger" onclick="deleteExercise('<%=exercise._id%>')"><i
                                        class="fa fa-trash mx-2" aria-hidden="true"></i>Delete</button>
                            </div>
                            <% } %>
                    </div>
                </div>
                <% }); %>

        </div>
    </div>
    <!-- Button trigger modal -->


    <!-- Modal -->
    <%- include("../../partials/modal.ejs") %>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" name="page" href="#">1</a></li>
                <li class="page-item"><a class="page-link" name="page" href="#">2</a></li>
                <li class="page-item"><a class="page-link" name="page" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

        <%- include('../../partials/footer.ejs') %>


            <!-- closing tags must -->
            </body>

            </html>